/* Первая часть*/
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
   /* font-style: bold;*/
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
@media (min-width: 1200px) {
html {
    font-size: 100%; /*16px*/
}
    .header {
        background-image: url("../images/banner-bg.jpg");
        padding-bottom: 8.125rem;/*130px;*/
        padding-top: 1.5625rem;/*25px;*/
    }

    .header-container {
        box-sizing: border-box;
        /*145- 15=130 от низа шрифта дониза шапки с учетом межстрочного расстояния*/
        width: 100%;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-content {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        z-index: 0;
    }

    .header-title-container {
        width: 60%;
        box-sizing: border-box;
        height: 100%;
        margin-bottom: 0;
        /*padding-left: 15rem;
        padding-right: 15rem;-----*//*240*/
        margin-top: 6.875rem;/*110px;*/
        margin-left: auto;
        margin-right: auto;
    }

    .header-title {
        /* font-size: 45px;*/
        font-size: 2.8125rem;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 700;
       /* font-style: bold;*/
        line-height: 4.6875rem; /*75px*/
        padding: 0;
    }

    .header-logo {
        width: 100%;
        max-width: 11.25rem;/*180px;*/
        /*padding: 0;*/
        max-height: 2.5rem;/*40px;*/
        height: 100%;
        margin-top: 0;
    }
    nav .menu__button {
        display: none;
    }

    .trends-article { /*.article-content */
       /* width: calc((100% - 12px) / 4 - 12px);*/
        max-width: 25%;
       /* height: 100%;*/
        margin-right: 2px;
        margin-left: 2px;
        /*height: 320px;*/
        min-height: 320px;
        /*padding: 0 20px 14px 20px;*/
    }

    .trends-articles {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 320px;/*320px;*/
        /*height: 100%;*/
        /*height: 20rem;320px;*/
        /* max-width: 412px;
         max-height: 320px;*/
        /* padding-bottom: 14px;*/
    }

    main {
        width: 100%;
        /* max-width: 780px;*/
        max-width: 48.75rem;
        margin-right: 7.5rem;/*120px;*/
        height: 100%;
        /*  min-height: 2483px;*/
        /*  min-height: 1709px;*/
    }

    .articles {
        width: 48.75rem;/*780px;*/
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        /*margin-bottom: 60px;*/
    }

    .article-preview {
        box-sizing: border-box;
        width: 23.75rem;/*381px;*/
        min-height: 18.1875rem;/*291px;*/
        height: 100%;
        padding: 0;
    }

    .article-content {
        box-sizing: border-box;
        width: 24.6875rem;/*395px;*/
        padding: 0 0 0 1.875rem;/*30px*/
        text-align: left;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    aside {
        display: block;
        width: 100%;
        max-width: 270px;
        margin-left: 120px;
        margin-right: 245px;
        height: 100%;
        /*  min-height: 1709px;*/
    }
    .trends ~ .product-trends {
        margin-top: 0;
    }

    .products {
        display: flex;
        /*align-items: flex-start;*/
        /* justify-content: space-between;*/
        max-width: 1170px;
        width: 100%;
        /*height: 455px;*/
        /* max-height: 100%;*/
        /*height: 100%;*/
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        /* background: antiquewhite;*/

    }
    .product {
        /* width: 32%;*/
        width: 26.5%;
        /* height: 100%;*/
        /*min-height: 455px;*/
        display: flex;
        /*flex-wrap: wrap;*/
        justify-content: center;
        flex-direction: column;
        /* align-items: flex-end;*/
        flex-grow: 1;
    }

    .product:nth-child(3n + 2) {
        margin-left: 10%;
        margin-right: 10%;
    }
    .product-imgbox {
        box-sizing: border-box;
        min-width: 300px;
        min-height: 200px;
        /* height: 100%;*/
    }
    footer {
        display: block;
        /* background-color: red;*/
        vertical-align: middle;
        /* margin-left: 245px;*/
        /* margin-top: 63px;*/
        margin: 0 auto 2.5rem;
        /* margin-right: 245px;*/
        /*margin-bottom: 40px;*/
        width: 100%;
        max-width: 1170px; /*было просто width*/
        text-align: center;
    }

    .container-footer {
        box-sizing: border-box;
        /* width: 1170px;*/
        max-width: 1170px;
        /* height: 83px;*/
        height: 5.1875rem;
        /* padding-top: 29.5px;
         padding-bottom: 29.5px;*/
        padding-top: 1.84375rem;
        padding-bottom: 1.84375rem;
        background-color: #f5f7f6;
    }
    .button {
        width: 100%;
        /* width: 270px;*/
        height: 48px;
        border: none;
        padding: 18px 80px;
        color: #ffffff;
        background-color: #cc9966;
        font-size: 0.875rem; /*14px;*/
        margin-top: 16px;
        text-transform: uppercase;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 700;
        font-style: bold;
    }
    .popup .field-group, textarea.field.textarea {
        min-width: calc(330px + 10px);
    }
}

@media (min-width: 641px) and (max-width: 1199px), (max-width: 36vmax) and (orientation: landscape) {
html {
    font-size: 85%;/*62.5%; 10px*/
}
    .header {
        background-image: url("../images/banner-bg-tablet.jpg");
        width: 100%;
    }
    .header-container {
        box-sizing: border-box;
        /*145- 15=130 от низа шрифта дониза шапки с учетом межстрочного расстояния*/
        width: 100%;
        /*max-width: 85%;*//* max-width: 700px;было*/
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
    }

    .header-content {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
       /* max-width: 85%;*//*  max-width: 700px было, а может max-width: 641px;или  85-90% задать*/
        margin: 0 auto;
        z-index: 0;
    }


    .header-title-container {
        width: 100%;
        box-sizing: border-box;
        height: 100%;
        margin-bottom: 0;
       /* padding-left: 1.5rem;
        padding-right: 1.5rem;*//*примерно*/
        margin-top: calc(6.875rem - 5%);/*110px;*/
       /* margin-left: 1.5rem;
        margin-right: 1.5rem;*/
    }
    .header-logo {
        width: 100%;
        max-width: 11.25rem;/*180px; 160px*/
        /*padding: 0;*/
        max-height: 2.5rem;/*40px; 35px*/
        height: 100%;
        margin-top: 0;

    }

    .header-title {
        font-size: 2.8125rem;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 700;
        line-height: 4.6875rem; /*75px*/
        padding: 0;
    }
    nav .menu-list {
        display: none;
    }
    .news-section {
        margin: 0 5%;
    }
    .main {
        width: 40.5%;
        /*390px;*/
        max-width: 40.5%;/*уточнить 440?*/
        margin-right: 15%;/*35px;*/
        height: 100%;
        /*  min-height: 2483px;*/
        /*  min-height: 1709px;*/
    }
    .articles article {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        border-bottom: 2px solid /*red*/#f5f7f6;
    }
    .articles article:last-child {
        border-bottom: none;
    }
    .articles {
        /*width: 54.5%;*//*width: 390px;39.2rem*/
        width: 100%;
        height: 100%;
        margin-right: 0;
        margin-left: 0;
        /*margin-bottom: 60px;*/
    }

    .article-preview {
        box-sizing: border-box;
        min-width: 100%;
        min-height: 100%;
       /* width: 100%;*//*23.75rem;*//*381px;*/
        /*min-height: 18.1875rem;*//*291px;*/
        /*height: 100%;*/
        padding: 0;
    }
    .article-img, .product-img {
        box-sizing: border-box;
        width: 100%;
    }

    .article-content {
        box-sizing: border-box;
        width: 100%;/*24.6875rem;*//*395px;*/
        padding: 0;/*0px*/
        text-align: left;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    aside {
        display: block;
        width: 100%;
        max-width: 270px;
        margin-left: 120px;
        margin-right: 245px;
        height: 100%;
        /*  min-height: 1709px;*/
    }
    /*aside.news .field, .form-group {
        width: 100%;
    }*/

    .trends-articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       /* align-content: flex-end;*/
        width: 100%;
        /*height: 245px;*/
        /*height: 100%;*/
        /*height: 245px;/*320px;*/
       /* height: 20rem;/*272px;*/
        /* max-width: 412px;
         max-height: 320px;*/
        /* padding-bottom: 14px;*/
    }

    .trends .section-title {
        font-size: 1.25rem; /*20px;*/
    }

    .trends-article {
        position: relative;
        background-color: #6d6c69;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: 0;
       /*flex-grow: 1;*/
        /*width: 100%;*/
        /*width: calc(50% - 2px);*/
        max-width: 49.5%;
        /*height: 245px;*/
        min-height: 245px;
       /* max-height: 100%;*/
        margin: 2px;
        /*padding: 0 20px 14px 20px;*/

    }

    .trends-article:nth-child(odd) {
        margin-left: 0;
    }

    .trends-article:nth-child(even) {
        margin-right: 0;

    }

    .products {
       /* position: relative;*/
        display: flex;
       /*align-items: center;*/
       justify-content: center;
       flex-wrap: wrap;
       /* max-width: 700px;*/
       /*max-width: 1199px;*/
       /*min-width: 700px;*/

        /*height: 455px;*/
        /* max-height: 100%;*/
        /*height: 100%;*/
        box-sizing: border-box;

        margin-left: 5%;/*auto;*/
        margin-right: 5%;/*auto;*/
        padding: 5%;/*1.25rem;*//*20px;*/

        /* background: antiquewhite;*/
        text-align: center;
    }
    .trends ~ .product-trends {
        margin-top: 0;
    }

    .product:nth-child(3n) {
        margin-top: 50px;
        margin-left: 0;
        margin-right: calc(48.5% + 5%) ;
    }
    .product:nth-child(1) {
        margin-right: 4% ;
    }
    .product:nth-child(2) {
        margin-left: 4%;
    }
    .product {
        box-sizing: border-box;
        width: 40.5%;
        /* height: 100%;*/
        /*min-height: 455px;*/
        display: flex;
        flex-direction: column;
      /* justify-content: center;*/
        align-items: center;
        flex-grow: 1;
    }
    .product-body {
        /* height: 210px;*/
        max-width: 292px;
        box-sizing: border-box;
        text-align: left;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.9375rem; /*15px;*/
        outline: 3px solid #cc9966;
        outline-offset: 20px;
        padding-top: 25px;
        padding-bottom: 5px;
        flex-grow: 1;
        /*border: 3px solid #ffffff;*/
    }

    /*.product .product-body {
        align-self: flex-start;
    }*/
    .product-imgbox {
        box-sizing: border-box;
        width: 100%;
        max-width: 292px;
       /* min-height: 225px;*/
        /* height: 100%;*/
    }
    footer.footer {
        display: block;
        /*background-color: red;*/
        vertical-align: middle;
        margin: 0 7.5% 2.5rem;
        width: 85%;
       /* max-width: 90%;*/
        /*было просто width*/
        text-align: center;
    }

    footer.container-footer {
        box-sizing: border-box;
        /* width: 1170px;*/
       /* max-width: 90%;*/
        /* height: 83px;*/
        height: 5.1875rem;
        /* padding-top: 29.5px;
         padding-bottom: 29.5px;*/
        padding-top: 1.84375rem;
        padding-bottom: 1.84375rem;
        background-color: #f5f7f6;
        text-align: center;
    }
    .popup textarea.field.textarea {
        min-width: 0;
    }

}

@media (max-width: 640px) {
    html {
        font-size: 70%; /*8px*/
    }
    .header {
        background-image: url("../images/banner-mobile.jpg");
        padding-bottom: 5%;/*8.125rem;*//*130px;*/
        padding-top: 5%;/*1.5625rem;*//*25px;*/
        width: 100vw;
        box-sizing: border-box;
       /* height: 100vmax;*/
    }

    .header-title-container {
        width: 100vw;
        box-sizing: border-box;
        /*height: 100vh;*/
        margin: 6% auto 0;
        height: 100%;
       /* padding-left: 7.5%;
        padding-right: 7.5%;*//*примерно*/
       /* margin-top: 6%;*//*110px;*/
    }
    .header-content {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        /*margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;*/
        margin: 0 auto;
        z-index: 0;
    }

    .header-logo {
        width: 75%;
        max-width: 75%;/*180px;*/
        /*padding: 0;*/
       /* max-height: 2.5rem;*//*40px;*/
        height: 100%;
        margin-top: 35%;
       /* padding-bottom: 8.125rem;*//*130px;*/
       /* padding-top: 35%;*//*25px;*/
    }

    .header-title {
        font-size: 2.3rem;/*26px*/
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 700;
        font-style: bold;
        line-height: 3.21rem; /*36px*/
        margin: auto;
        width: 75%;
    }

    nav .menu-list {
        display: none;
    }
    nav .menu, .js-menu {
        align-self: flex-end;
        margin-right: 2.5%;
    }
    .trends-articles {
        flex-direction: column;
       /* height: 228px;*/
    }

    .trends-article:nth-child(n + 2) {
        margin-top: 2px;
    }

    .trends-article {
       /* height: 227px;*/
        min-height: 227px;
    }
    .news-section {
        flex-direction: column;
        /*align-item: center;*/
        /* padding: 63px 0 0 0;*/
        margin: 0 5%;
    }
    .articles .article {
        flex-direction: column;
        padding-bottom: 20px;
        border-bottom: 2px solid /*red*/#f5f7f6;
    }
    aside {
        display: flex;
        flex-direction: column;
    }
    aside label.form-group, aside input.field {
        width: 100%;
    }
    /*aside.news {
        margin-top: 5%;
    }*/

    .products {
        display: flex;
        /*align-items: center;*/
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin: 5%;/*1.25rem;*//*20px;*/
        /* background: antiquewhite;*/
        text-align: center;

    }

    .product:nth-child(n+2) {
        margin-top: 50px;
    }
    /*.product:nth-child(1) {
        margin-right: 4% ;
    }
    .product:nth-child(2) {
        margin-left: 4%;
    }*/
    .product {
        box-sizing: border-box;
        width: 85.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .product-body {
        /* height: 210px;*/
      /*  max-width: 284px;
        max-height: 284px;*/
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.9375rem; /*15px;*/
        outline: 2px solid #cc9966;
        outline-offset: 20px;
        padding-top: 25px;
        padding-bottom: 5px;
        /*flex-grow: 1;*/
        /*border: 3px solid #ffffff;*/
    }
    /*.product .product-body { align-self: flex-start;
    }*/
    .product-imgbox {
        box-sizing: border-box;
        width: 100%;
        /*max-width: 284px;*/
        /* min-height: 225px;*/
        /* height: 100%;*/
    }


    footer.footer {
        display: block;
        /*background-color: red;*/
        vertical-align: middle;
        margin: 0 7.5% 2.5rem;
        width: 85%;
       /* max-width: 85%;*/ /*было просто width*/
        text-align: center;
    }

    footer.container-footer {
        box-sizing: border-box;
        /* width: 1170px;*/
       /* max-width: 85%;*/
        /* height: 83px;*/
        height: 5.1875rem;
        /* padding-top: 29.5px;
         padding-bottom: 29.5px;*/
        padding-top: 1.84375rem;
        padding-bottom: 1.84375rem;
        background-color: #f5f7f6;
        text-align: center;
    }
    .popup .button{
        padding: 0;
        height: 3rem;
    }
    .popup .textarea {
        min-width: 0;
    }
    .popup .field {
        min-height: 100px;
    }
    .popup .search-button {
        height: 3rem;
    }
    .popup .field-group {
        width: 100%;
    }
}
/*---------------------------------------Общие стили--------------------------------*/
    .header {
       /* background-image: url("../images/banner-bg.jpg");*/
        background-color: #6d6c69;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        /* max-width: 1660px;*/
        position: relative;
        z-index: 0;
        margin: 0 auto;
      /*  padding-bottom: 8.125rem;*//*130px;*/
        /*padding-top: 1.5625rem;*//*25px;*/
        text-align: center;
    }

    .header::after, .trends-article::after {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        opacity: 0.6;
        position: absolute;
        z-index: -1;
    }

    /*.header-content {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;*/
     /*   max-width: 1170px;*/
        /*margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;*/
/*
        z-index: 0;
    }*/

    /*.header-logo {
        width: 100%;
        max-width: 11.25rem;
        max-height: 2.5rem;
        height: 100%;
        margin-top: 0;
    }*/

    .menu-list {
        display: flex;
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
    }

    .menu-list-item {
        vertical-align: middle;
        /*margin-left: 1.125rem;18px;*/
        margin-right: 2.25rem;/*36px;*/
    }

    .menu-list-item:last-child {
        margin-right: 0;
    }

    .item-link {
        font-size: 0.8125rem; /*13px;*/
        text-transform: uppercase;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: normal;
    }

    .item-link:hover {
        text-decoration: underline;
    }

    a {
        text-decoration: none;
        color: #ffffff; /* цвет ссылки нав меню*/
    }
/*Стили бургер меню*/
.menu__button {
    width: 1.4em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
}

.menu__button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}

.menu__button:before, .menu__button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}
.menu__button:before {
    top: 0;
}
.menu__button:after {
    bottom: 0;
}

:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

   /* .header-title-container {
        width: 100%;
        box-sizing: border-box;
        height: 100%;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }*/

    /*.header-title {

        font-size: 2.8125rem;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 700;
        font-style: bold;
        line-height: 4.6875rem;
        padding: 0;
    }*/

    /*Trends styles*/
    .trends {
        /* background: #999999;
         opacity: 0.7;*/
        margin: 3.9375rem auto;/*63px */
        /* max-width: 1660px;*/
        width: 100%;
    }

    .trends-articles {
        display: flex;
        justify-content: center;
       /* align-items: flex-end;*/
        width: 100%;
        /*height: 100%;*/
        /*height: 20rem;320px;*/
        /* max-width: 412px;
         max-height: 320px;*/
        /* padding-bottom: 14px;*/
    }

    .trends .section-title {
        font-size: 1.25rem; /*20px;*/
    }

    .trends-article { /*.article-content */
        position: relative;
        background-color: #6d6c69;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: 0;
        flex-grow: 1;
        align-items: flex-end;

        /*width: 100%;*/
        /*width: calc((100% - 12px) / 4 - 12);*/
       /* max-width: 25%;*/
       /*height: 100%;*/

       /* margin-right: 2px;
        margin-left: 2px;*/

        /*padding: 0 20px 14px 20px;*/
    }

    .trends-article:first-child {
        margin-left: 0;
    }

    .trends-article:last-child {
        margin-right: 0;
    }

    .trends-article-content {
        /*display: flex;
        flex-direction: column;*/
        /* position: absolute;

         left: 0;
         bottom: 0;*/
        box-sizing: border-box;
        /*width: 410px;*/
        /*max-height: 100%;*/
        /*padding: 0 0 0 30px;*/
        /*margin: 40px 20px 14px 20px;*/
        /*padding: 155px 0 38px 35px;*/
        /*margin: 155px 20px 14px 20px;
        padding: 35px 0 35px 35px;*/
       /* margin: 9.6875rem 1.25rem 0.875rem 1.25rem;
        padding: 2.1875rem 0 2.1875rem 2.1875rem;*/
        /*padding: 35px;
        margin: 2.1875rem;*/
        padding: 2.1875rem;
        margin: 0.9375rem 1.5625rem;
        text-align: left;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.25rem; /*20px;*/
        border: 0.1875rem solid #cc9966;
        flex-grow: 1;
    }

    .trends-article:nth-child(2) .trends-article-content {
        /*margin: 130px 20px 14px 20px;
        padding: 35px 0 14px 35px;*/
      /*  margin: 8.125rem 1.25rem 0.875rem 1.25rem;
        padding: 2.1875rem 0 0.875rem 2.1875rem;*/
    }

    .trends-article-content .article-name {
        margin-bottom: 0;
    }

    .trend1 {
        background-image: url("../images/trend1.jpg");
       /* max-height: 100%;*/
    }

    .trend2 {
        background-image: url("../images/trend2.jpg");
    }

    .trend3 {
        background-image: url("../images/trend3.jpg");
    }

    .trend4 {
        background-image: url("../images/trend4.jpg");
    }

    .trends-article-content .article-name {
        color: inherit;
    }

    .trends-article-content .teg-link {
        vertical-align: bottom;
    }
.trends ~ .product-trends {
    margin-top: 0;
}

    /*.trends .section-title-underline {
        font-size: 20px;
    }*/
    /*Center main+aside styles*/
    .news-section {
        display: flex;
        justify-content: center;

        /*align-item: center;*/
        /* padding: 63px 0 0 0;*/
    }

    main {
        width: 100%;
       /* max-width: 780px;*/
      /*  max-width: 48.75rem;
        margin-right: 7.5rem;*//*120px;*/
        height: 100%;
        /*  min-height: 2483px;*/
        /*  min-height: 1709px;*/
    }

    /* main*/
    .articles {
      /*  width: 48.75rem;*//*780px;*/
        height: 100%;
       /* margin-right: auto;
        margin-left: auto;*/
        /*margin-bottom: 60px;*/
    }

    article {
        display: flex;
        /*flex-wrap: nowrap;*/

    }
    .articles {
        /*margin-bottom: 3.9375rem;*/
        margin-bottom: 3.75rem;
    }

    .article-preview {
        box-sizing: border-box;
       /* width: 23.75rem;*//*381px;*/
       /* min-height: 18.1875rem;*//*291px;*/
        height: 100%;
        padding: 0;
    }
.article-img, .product-img {
    box-sizing: border-box;
    width: 100%;
}
    .article-content {
        box-sizing: border-box;
       /* width: 24.6875rem;*//*395px;*/
       /* padding: 0 0 0 1.875rem;*//*30px*/
        text-align: left;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .article:nth-child(n+2) {
        margin-top: 3.75rem;/*60px;*/
    }

    .teg-link {
        font-size: 0.875rem; /* 14px;*/
        color: #cc9966;
        font-family: Open Sans, Arial, sans-serif;
        line-height: normal;
        text-transform: uppercase;
        font-weight: 700;
        font-style: bold;
    }
    a.teg-link {
        margin-right: 1.25rem;/*20px*/
    }

    .teg-link:hover {
        border-bottom: solid 0.1875rem #cc9966;
    }

    .article-name {
        font-size: 1.25rem; /*20px;*/
        color: #000000;
        font-family: Open Sans, Arial, sans-serif;
        line-height: 1.5rem;/*24px;*/
        text-transform: uppercase;
        font-weight: 700;
        font-style: bold;
        margin-top: 0.625rem;/*10px;*/
        margin-bottom: 2.0625rem;/*33px;*/
    }

    .article-name:hover, .post-name:hover {
        color: #cc9966;
    }

    .article-date {
        font-size: 0.75rem; /*12px;*/
        line-height: normal; /*line-height:40px*/
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #999999;
    }

    .bold-author {
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 700;
        font-style: bold;
        font-size: 0.75rem; /*12px;*/
        line-height: normal; /*line-height:40px*/
        color: #000000;
    }

    .article-description .product-description {
        font-size: 0.9375rem; /*15px;*/
        color: #000000;
        font-family: Open Sans, Arial, sans-serif;
        line-height: 1.375rem; /*22px;*/
        font-weight: 400;
        font-style: normal;
    }

    p:first-child {
        margin-top: 3.125rem;/*50px;*/
    }

    p:nth-child(n+2) {
        margin-top: 1.0625rem;/*17*/
    }

    /*конеw */
   /* aside {
        display: block;
        width: 100%;
        max-width: 270px;
        margin-left: 120px;
        margin-right: 245px;
        height: 100%;

    }*//*  min-height: 1709px;*/

    .news {
        display: block;
        margin: 0;
        padding: 0;
    }

    .section {
        position: relative;
        margin: 0;
        padding: 0;
        display: block;
        margin-bottom: 3.75rem;/*60px;*/
    }

    .section-title-underline {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 0.875rem; /*14px;*/
        color: #000000;
        font-family: Open Sans, Arial, sans-serif;
        /*line-height: 29.15px;*/
        line-height: normal;
        text-transform: uppercase;
        font-weight: 700;
        font-style: bold;
        margin-bottom: 1.875rem;
    }

    .section-title-underline::before {
        position: absolute;
        content: "";
        border-bottom: solid 3px #cc9966;
        text-align: center;
        width: 4.125rem;/*66px;*/
        height: 1.875rem;/*30px;*/
        opacity: 0.4;
    }

    .section-title {
        position: relative;
        font-size: 0.875rem; /*14px;*/
        color: #000000;
        font-family: Open Sans, Arial, sans-serif;
        /*line-height: 29.15px;*/
        line-height: normal;
        text-transform: uppercase;
        font-weight: 700;
        font-style: bold;
        margin-top: 0;
        margin-bottom: 0;
    }

    .new-posts {
        display: flex;
        flex-wrap: nowrap;
    }

    .post-preview {
        box-sizing: border-box;
        max-width: 70px;
        max-height: 70px;
        /* height: 100%;*/
        /* padding-top: 10px;*/
        background-color: #ffffff;
        /* margin-top: 30px;*/
    }

    .post-content {
        box-sizing: border-box;
        width: 100%;/*200px;было декстоп*/
        padding: 0 0 0 20px;
        text-align: left;
        /* vertical-align: top;*/
        /*  margin-top: 30px;*/
    }

    time.post-date {
        display: block;
        /*  margin-top: -14px;*/
        /* 40pt-12pt/2=отступ сверху за счет междустрочного расстояния*/
    }

    .post-date {
        display: block;
        font-size: 0.75rem; /*12px;*/
        opacity: 0.54;
        line-height: normal; /*line-height:40px*/
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .post-name {
        display: block;
        text-align: top;
        /*  margin-top: -12px;   14-2*/
        font-size: 0.875rem; /*14px;*/
        color: #000000;
        font-family: Open Sans, sans-serif;
        line-height: 1.125rem; /*18px;*/
        text-transform: uppercase;
        font-weight: 700;
        font-style: bold;
        vertical-align: top;
    }

    .new-posts:nth-child(n+2) {
        margin-top: 22px;
    }

    .new-posts:first-child {
        margin-top: 0;
    }

    .form-hint {
        display: block;
        font-size: 0.8125rem; /*13px;*/
        /*margin-bottom: 60px;*/
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 700;
        font-style: bold;
    }

    .visually-hidden {
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
    }

    .form-search {
        position: relative;
        display: block;
    }

    .form-search .form-group {
        display: inline-block;
    }

    .field {
        box-sizing: border-box;
        width: 270px; /*width: 100%;*/
        height: 48px; /*height: 48px;*/
        /* border: 1px solid #cc9966;*/
        border: none;
        background-color: #f5f7f6;
        padding: 20px;
    }

    .field:focus, .button:focus, .search-button:focus {
        outline: 2px solid #000000;
        outline-offset: 1px;
    }

    .search-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
        display: inline-block;
        width: 48px;
        height: 48px;
        border: 3px solid #cc9966;
        background-position: center center;
        background-color: #cc9966;
        background-repeat: no-repeat;
        background-image: url("../svg/search.svg");
        background-size: 18px;
        margin-top: 0;
        margin-left: -48px;
    }

    .button {
        width: 100%;
        /* width: 270px;*/
        /*height: 3rem;*/
        height: 48px;
        border: none;
        padding: 1.125rem 5rem;
        /*padding: 18px 80px;*/
        color: #ffffff;
        background-color: #cc9966;
        font-size: 0.875rem; /*14px;*/
        margin-top: 16px;
        text-transform: uppercase;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 700;
        font-style: bold;
    }


    .section-tegs {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        vertical-align: middle;
        /* margin-bottom: 30px;*/
        margin-top: 25px;
    }

    .section-tags-item {
        box-sizing: border-box;
        border: 3px solid #f5f7f6;
        font-size: 0.75rem; /*12px;*/
        color: #000000;
        text-decoration: none;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 700;
        font-style: bold;
        /*line-height: 40px;*/
        text-transform: uppercase;
        padding: 6px 15px;
        text-align: center;
        margin-right: 5px;
        margin-top: 5px;
    }

    .section-tags-item:focus {
        border: 3px solid #cc9966;
    }

    .categories {
        display: block;
        margin-top: 0;
        text-align: left;
    }

    .categories-items {
        display: flex;
        width: 100%;
        /*max-width: 271px;*/
        border-bottom: 2px solid #f5f7f6;
    }

    .categories-item:hover, .section-tags-item:hover {
        color: #cc9966;
    }

    .categories-item {
        font-size: 0.875rem; /*14px;*/
        color: #000000;
        text-decoration: none;
        font-family: Open Sans, Arial, sans-serif;
        line-height: 2.9375rem; /*47px;*/
        font-weight: 700;
        font-style: bold;
        padding: 0;
        text-align: left;
        margin-right: 5px;
        margin-top: 5px;
        text-transform: capitalize;
    }

    .categories-number {
        font-size: 0.75rem; /*12px;*/
        color: #cc9966;
        text-decoration: none;
        font-family: Open Sans, Arial, sans-serif;
        line-height: 36.82px;
        font-weight: 700;
        font-style: bold;
        padding: 0;
        text-align: left;
        margin-left: 5px;
    }

    /* Наши изделия*/


    .product-footer {
       /* padding-top: 20px;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto;
    }

    .product-imgbox {
        text-align: center;
    }

    .product-title {
        text-transform: uppercase;
    }

    .product-description p {
        margin: 0;
    }

    .product-description-link {
        font-style: bold;
        color: #cc9966;
    }

    .product-body {
        /* height: 210px;*/
        box-sizing: border-box;
        text-align: left;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.9375rem; /*15px;*/
        outline: 3px solid #cc9966;
        outline-offset: 20px;
        padding-top: 25px;
        padding-bottom: 5px;
        flex-grow: 1;
        /*border: 3px solid #ffffff;*/
    }

    /*.product .product-body {
        align-self: flex-start;
    }*/
    /*.product-imgbox {
        box-sizing: border-box;
        min-width: 300px;
        min-height: 200px;

    }*/
    .product-footer .button {
        /*width: calc(50% - 10px);*/
        width: 50%;
       /* padding: 18px 28px;*/
        padding: 1.125rem 1rem;
        margin: 0;
    }

    .product-price-old {
        text-decoration: line-through;
        font-size: 0.875rem; /*14px;*/
        margin-bottom: 5px;
    }

    .product-price {
        font-size: 1.25rem; /*20px;*/
        font-weight: 700;
        color: #222;
        line-height: 1;
        display: flex;
    }

    .product-description-highlight {
        font-style: bold;
        color: #cc9966;
    }

    .underline {
        text-decoration: underline;
    }

    /*----------------footer общее--------------*/
    footer {
        display: block;
        /* background-color: red;*/
        vertical-align: middle;
        /* margin-left: 245px;*/
        /* margin-top: 63px;*/
        margin: 0 auto 2.5rem;
        /* margin-right: 245px;*/
        /*margin-bottom: 40px;*/
       /* width: 100%;
        max-width: 1170px; *//*было просто width*/
        text-align: center;
    }

    .container-footer {
        box-sizing: border-box;
       /* width: 1170px;*/
       /* max-width: 1170px;*/
       /* height: 83px;*/
        height: 5.1875rem;
       /* padding-top: 29.5px;
        padding-bottom: 29.5px;*/
        padding-top: 1.84375rem;
        padding-bottom: 1.84375rem;
        background-color: #f5f7f6;
    }

    .socials {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-left: 0;
        margin-right: 0;
        background-color: #f5f7f6;
    }

    .social-item {
        list-style-type: none;
    }

    .social-item:nth-child(n + 2) {
        margin-left: 30px;
    }

    .social-item-link {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: center;
        background-color: #f5f7f6;
        vertical-align: middle;
    }

    .item-link-facebook {
        background-image: url("../svg/002-facebook-logo.svg");
        background-color: #f5f7f6;
    }

    .item-link-twitter {
        background-image: url("../svg/004-twitter.svg");
        background-color: #f5f7f6;
    }

    .item-link-instagram {
        background-image: url("../svg/005-instagram.svg");
        background-color: #f5f7f6;
    }

    .item-link-pinterest {
        background-image: url("../svg/001-pinterest.svg");
        background-color: #f5f7f6;
    }

    .item-link-tumbler {
        background-image: url("../svg/003-tumblr.svg");
        background-color: #f5f7f6;
    }

    .copyright-footer {
        display: block;
        /*margin-top: 73px;*/
        margin-top: 4.5625rem;
        text-align: center;
        text-decoration: none;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 700;
        font-style: bold;
        font-size: 0.75rem; /*12px;*/
        line-height: normal;
        color: #999999;
    }

    /* Popup*/
    .popup-wrapper {
        display: none;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        position: fixed;
        /*display: flex;*/
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        /*margin-bottom: 30px;*/
        /* margin-bottom: 208px;*/
        z-index: 0;
    }

    .popup-close {
        /* display: inline-block;
         text-align: center;*/
        /* max-width: 400px;*/
        position: absolute;
        z-index: 0;
        /*  width: 1.4em;
          height: 1em;*/
        font-size: 0;
        top: -1.8125rem;
        right: 1.2rem;
        color: #f0f0f0;
        margin-left: auto;
        margin-right: auto;
        /*text-align: right;*/
        /* padding: 0 30px;*/
        background-color: rgba(0, 0, 0, 0);
        border: none; /*!*/
    }

    .popup-close .button {

        /*width: 17px;
        height: 17px;*/
        width: 1.0625rem;
        height: 1.0625rem;
        /* width: 100%;*/
        /* width: 270px;*/
        /* height: 48px;*/
        border: none;
        /* padding: 18px 80px;*/
        /* color: #ffffff;
         background-color: #cc9966;*/
        font-size: 1rem;
        /* margin-top: 16px;*/
        text-transform: uppercase;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 700;
        font-style: bold;
    }

    .popup-close::before {
        content: "";
        display: inline-block;
        position: absolute;
        /*width: 17px;
        height: 17px;*/
        width: 1.0625rem;
        height: 1.0625rem;
        /* background-color: #6d6c69;*/
        background-image: url("../svg/form-x.svg");
        background-repeat: no-repeat;
        /*background-position: right top;*/
        /* top: 50%;
         left: 50%;*/
        background-size: 1.0625rem;
        z-index: 2;
    }

    .popup {
        position: relative;
        box-sizing: border-box;
        max-width: 400px;
        min-width: 330px;
        /*width: 382px;*/
       /* width: 23.875rem;*/
        width: 30%;
        /* height: 589px;*/
        background: whitesmoke;
        color: #f0f0f0;
        margin: auto;
        margin-top: 20vmin;
        padding: 50px 30px;
        font-size: 0;
    }

    .popup-wrapper .button {
        width: 100%;
    }

    .form-group {
        display: block;
    }

    .form-group:nth-child(n+2) {
        margin-top: 30px;
    }

    .form-group:last-child {
        margin-top: 25px;
    }

    .textarea {
        min-width: 330px;
        max-width: 100%;
        min-height: 131px;
        max-height: 100%;
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8125rem; /*13px;*/
        line-height: normal;
        color: #000000;
        opacity: 0.54;
    }

    /*textarea.field {
        box-sizing: content-box;
    }*/
    .field-label {
        font-size: 0.8125rem; /*13px;*/
        line-height: normal; /*line-height:40px*/
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: black;
    }

    .select {
        -webkit-appearance: none;
        -moz-appearance: none;

        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        height: 48px;

        padding-left: 10px;
        padding-right: 25px;

        margin: 0;

        /* border: 1px solid #cbd1d4;*/
        /* border: 1px solid #000000;*/
        background-color: #f9f9f9;
        font-size: 0.8125rem; /*13px;*/
        line-height: normal; /*line-height:40px*/
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #000000;
        opacity: 0.54;
        background-image: url("../svg/form-arrows.svg");
        background-repeat: no-repeat;
        background-position: right 5px center;
        /* background-position: center center;*/
        /*background-size: 8px;*/
        background-size: 0.5rem;
    }

    .select:focus {
        outline: 2px solid #cc9966;
        /* outline-offset: 4px;*/
    }

    .select {
        opacity: 0.54;
    }

    .select-label {
        font-size: 0.8125rem; /*13px;*/
        line-height: normal; /*line-height:40px*/
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        border: none;
        color: #000000;
    }

    .radio-group-text {
        font-size: 0.8125rem; /*13px;*/
        line-height: normal; /*line-height:40px*/
        font-family: Open Sans, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #000000;
    }

    .radio-group-text::before {
        content: "";
        display: inline-block;

        width: 15px;
        height: 15px;

        background-image: url("../svg/form-empty-circle.svg");
        /*background-image: url("https://netology-code.github.io/resourses/pics/radio-no-active.svg");*/
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px;
    }

    .radio-group-text::before {
        display: inline-block;
        vertical-align: middle;
    }

    .radio-group-text::before {
        margin-right: 8px;
    }

    .radio-group {
        display: inline-block;
        font-size: 0.9375rem; /*15px;*/
    }

    .radio-group:nth-of-type(n+2) {
        margin-left: 15px;
    }

    .radio:checked ~ .radio-group-text::before {
        /*background-image: url("https://netology-code.github.io/resourses/pics/radio-active.svg");*/
        background-image: url("../svg/form-circle.svg");
    }

    .radio {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        width: 1px;
    }
